<component name="ArtifactManager">
  <artifact type="jar" name="mybatis-generator-core:jar">
    <output-path>$PROJECT_DIR$/classes/artifacts/mybatis_generator_core_jar</output-path>
    <root id="archive" name="mybatis-generator-core.jar">
      <element id="module-output" name="mybatis-generator-core" />
    </root>
  </artifact>
</component>